 <br>

 <% @flats.each do |flat| %>

 <div class="card">
   <div>
    <% if flat.picture.url %>
      <%= image_tag flat.picture.url(:big) %>
    <% else %>
      no picture
    <% end %>
  </div>

  <div>
    <h4><%= link_to flat.short_description, flat_path(flat) %></h4>
    <p>Price per night : <%= flat.price %></p>
  </div>
</div>
<% end %>

