<div class="container">
  <div class="row">
    <div class="card">
        <div>
          <% if f.picture.url %>
            <%= image_tag f.picture.url(:big) %>
          <% else %>
            no picture
          <% end %>
        </div>
        <div><h3><%= link_to f.short_description, flat_path(f) %></h3>
        <p>Price per night : <%= f.price %></p>
        </div>
    </div>
  </div>
</div>
ยง
