.card {
  margin: 20px;
  height: 350px;
  // width: 650px;
  box-shadow: 1px 1px 4px 0px rgba(230,230,230,1);
  background-color: white;
  position: relative;
  border-radius: 5px;
}

.card a {
  color: #484848;
  text-decoration: none;
  &:hover {
        color: #6a6a6a;
    }
}
.card-small a {
  color: #484848;
  text-decoration: none;
  &:hover {
        color: #6a6a6a;
    }
}
.card-show a {
  color: #484848;
  text-decoration: none;
  &:hover {
        color: #6a6a6a;
    }
}

.card h3 {
  position: absolute;
  top: 260px;
  left: 10px;
}

.card p {
  position: absolute;
  top: 285px;
  right: 10px;
}


.card-small {
  margin: 20px;
  height: 250px;
  width: 450px;
  box-shadow: 1px 1px 4px 0px rgba(230,230,230,1);
  background-color: white;
  position: relative;
  border-radius: 5px;
}

.card-small img {
  position: absolute;
  bottom: 49.8px;
}

.card-small h4 {
  position: absolute;
  top: 200px;
  left: 10px;
}

.card-small p {
  position: absolute;
  top: 200px;
  right: 10px;
}

.card-show {
  margin: 20px;
  height: 350px;
  width: 650px;
  box-shadow: 1px 1px 4px 0px rgba(230,230,230,1);
  background-color: white;
  position: relative;
  border-radius: 5px;
}

