.card {
  margin: 20px;
  height: 350px;
  width: 650px;
  box-shadow: 1px 1px 4px 0px rgba(230,230,230,1);
  background-color: #f7f7f7;
  position: relative;
}

.card h3 {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card p {
  position: absolute;
  top: 30px;
  right: 10px;
}
