.card {
  margin: 20px;
  height: 350px;
  width: 650px;
  box-shadow: 1px 1px 4px 0px rgba(230,230,230,1);
  background-color: #f7f7f7;
  position: relative;
}

.card h3 {
  position: absolute;
  top: 260px;
  left: 10px;
}

.card p {
  position: absolute;
  top: 285px;
  right: 10px;
}


.card-small {
  margin: 20px;
  height: 250px;
  width: 450px;
  box-shadow: 1px 1px 4px 0px rgba(230,230,230,1);
  background-color: #f7f7f7;
  position: relative;
}

.card-small img {
  position: absolute;
  bottom: 50px;
}

.card-small h3 {
  position: absolute;
  top: 180px;
  left: 10px;
}

.card-small p {
  position: absolute;
  top: 200px;
  right: 10px;
}
